ul{
	padding: 0;
	margin: 0;
}
li{
	list-style-type: none;
}
html{
	margin: 0;
	height: 100%;
}

body{
	background-color: white;
	margin: 0;
	height: 100%;
	font-family: "Lato", sans-serif;
  	transition: background-color .5s;
}
img{
	width: 25%;
	
}
/*////////////////////HEADER//////////////////////*/


.logo{
	width: 130%;
	height: auto;
}

.titre{
	display: flex;
	align-items: center;
	flex-direction: row;
	width: 12%;
	margin-top: 55px;
	position: fixed;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	/*! color: antiquewhite; */
	background-color: #8d0b0b;
	/*! margin: ; */
	/*! border: ; */
	border-bottom: 2px solid rgb(0, 0, 0);
	padding: 1%;
}

.txt-titre{
	color: rgb(226, 193, 93);
}

.lien-titre{
	text-decoration: none;
}
.nav_bar{
	/*! display: flex; */
	/*! float: left; */
	/*! align-items: center; */
	margin-left: 50%;
}
header li{
	text-decoration: none;
	float: right;
	font-size: 1.2em;
}
header li a {
	text-decoration: none;
	display: block;
	text-align: center;
	padding: 5px 20px ;
	color: wheat;
}
.border
{
	border-right: 0.5px solid white;
	border-left: 0.5px solid white;
}
.border_left
{
	border-left: 0.5px solid white;
}
header li a:hover
{
	color: white;
}

nav{
	overflow: hidden;
	background-color:rgba(0,0,0,0.5);
	position: fixed;
	width: 100%;
	/*! opacity: 0.7; */
	display: flex;
	/*! justify-content: space-between; */
	align-items: center;
	height: 65px;
} 
/*///////////////////////////MAIN///////////////////////////*/
@font-face {
	font-family: Edelsans;
	src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/edelsans_regular-webfont.woff);
  }
  body { 
	margin: 0;
	font-family: Edelsans, Avenir, sans-serif;
  }
  section.base { 
	height: 100vh; 
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center; 
	flex-direction: column;
	padding: 2vw;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-size: 2vw; 
  }
 
	section.pop { 
	color: #fff;
	text-shadow: 0 0 5px rgba(0,0,0,0.4);	
	text-transform: uppercase;
	height: 100vh; 
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center; 
	flex-direction: column;
	padding: 2vw;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-size: 4vw;; 
  }
  section.pages{
	height: 190vh; 
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center; 
	flex-direction: column;
	padding: 2vw;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-size: 2vw;
  }
  
  section.pan 
  { 
	height: 125vh; 
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center; 
	flex-direction: column;
	padding: 2vw;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-size: 2vw; 
  }

  section.pages_admin_message{
	height: auto; 
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center; 
	flex-direction: column;
	padding: 2vw;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-size: 2vw;
  }


  section:nth-of-type(even) { 
	background: aqua;
  }
  section:nth-of-type(1) { 
	background-image: url(../../images/presentation.jpg); 
  }
  section:nth-of-type(3) { 
	background-image: url(../../images/biere.png); 
  }
  section:nth-of-type(5) { 
	background-image: url(../../images/image_biere.png); 
	color: #fff;
	text-shadow: 0 0 5px rgba(233, 222, 222, 0.4); 
  }
  /*///////////////////////////MAIN_acceuil/////////////////////*/
  .accu_prod{
	text-shadow: 0 0 5px rgb(255, 255, 255);
  }
  /*////////////////////////////main_contact/////////////////////*/
  .center
  {
	  width: 700px;
	  height: 450px;
	  background-color: white;
	  border-radius: 10px;
	  box-shadow: 0 10px 20px rgba(0,0,0,0.25);
  }
  
  .center h1
  {
	  font-size: 40px;
	  text-align: center;
	  padding: 0 0 20px 0;
	  font-weight: 700;
	  border-bottom: 1px solid silver;
  }
.center form{
	padding: 0 40px;
	box-sizing: border-box;
}
.main_error
{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 25px;
}
.error
{
	width: 65%;
	height: auto;
	background-color: crimson;
	font-size: 20px;
	border-radius: 5px;
	color: aliceblue;
	font-weight: bold;
}
form .txt_field{
	position: relative;
	border-bottom: 2px solid #adadad;
	margin: 50px 0;
}
.txt_field input{
	width: 100%;
	padding: 0 5px;
	height: 40px;
	font-size: 16px;
	border-radius: 0px;
	background: none;
}
.txt_field input:focus
{
	border: none;
	outline: none;
}
.txt_field label{
	position: absolute;
	top: 50%;
	left: 5px;
	color: #adadad;
	transform: translateY(-50%);
	font-size: 16px;
	pointer-events: none;
	transition: 0.5s;
}
.txt_field span::before
{
	content: '';
	position: absolute;
	left: 0;
	width: 0%;
	height: 3px;
	background: #2692d9;
	transition: 0.5s;
}
.txt_field input:focus ~ label, .txt_field input:valid ~ label
{
	top: -5px;
	color: #2691d9;
}
.txt_field input:focus ~ span::before, .txt_field input:valid ~ span::before
{
	width: 100%;
}
input[type="submit"]
{
	font-size: 18px;
	width: 90%;
	height: 50px;
	border: 1px solid;
	background: #2691d9;
	border-radius: 25px;
	font-variant-position: 18px;
	color: #e9f4fb;
	font-weight: 700;
	cursor: pointer;
	outline: none;
	transition: 0.5s;
}
input[type="submit"]:hover
{
	border-color: #2691d9;
	background-color: #6b4c84;
	transition: 0.5s;
}
.txt_field input[type="text"],.txt_field input[type ='password']
{
	border: none;
}
.txt_field input[type="text"]:focus
{
	outline: none;
}
  /*///////////////////////////MAIN_connexion/////////////////////*/
  .connection
  {
	width: 600px;
	  height: 450px;
	  background-color: white;
	  border-radius: 10px;
	  box-shadow: 0 10px 20px rgba(0,0,0,0.25); 
  }
  .connection h1
	{
		font-size: 40px;
		text-align: center;
		padding: 0 0 20px 0;
		font-weight: 700;
		border-bottom: 1px solid silver;
	}
	.connection form{
		padding: 0 40px;
		box-sizing: border-box;
	}
	

  /*////////////////////////////main_inscription/////////////////////*/
  .inscription
  {
	width: 600px;
	height: 900px;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.25); 
}
.inscription h1
  {
	  font-size: 40px;
	  text-align: center;
	  padding: 0 0 20px 0;
	  font-weight: 700;
	  border-bottom: 1px solid silver;
  }
  .inscription form{
	padding: 0 40px;
	box-sizing: border-box;
}

/*////////////////////////////MAIN_profile////////////////////////////*/
.profil
	{width: 700px;
	height: 1000px;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.25); 
}
.profil h1
  {
	  font-size: 40px;
	  text-align: center;
	  padding: 0 0 20px 0;
	  font-weight: 700;
	  border-bottom: 1px solid silver;
  }
  .profil form{
	padding: 0 40px;
	box-sizing: border-box;
}
/*////////////////////////////FOOTER/////////////////////////////////*/
footer{
	padding: 20px 0 10px 0;
	background-color : lightyellow;
	color: #FFFAE1;
	text-align : center;
	position: static;
}

footer form{
	margin:0 auto;
	max-width: 900px;
}

footer input, button{
	border: none;
	width: 55%;
	padding: 12px 10px;
	margin: 2px 0;
	font-size: 1.2em;
	font-family: 'Advent pro', sans-serif;
	border-radius: 8px;
}

footer textarea{
	height: 120px;
}

footer button{
	font-size: 1.5em;
	background-color: #FFFAE1;
}

footer button:hover{
	background-color: #e55039;
	color: #FFFAE1;
	cursor: pointer;
	transition: 0.3s ease-in-out;
}

#trait2{
	height: 1px;
	width: 75%;
	background-color: #FFFAE1;
	margin: 60px auto;
}

#copyrighteticons{
	display: flex;
	margin-bottom: 20px;
	padding: 0 10%;
}

#copyright{
	width: 50%;
	text-align: left;
	color: #FFFAE1;
}

#icons{
	width: 50%;
	text-align: right;
}

#icons a{
	display: inline-block;
	padding: 0 15px;
	font-size: 1.3em;
	color: #FFFAE1;
}

#icons a:hover{
	transform: scale(1.5);
	transition: 0.1;
}

#lien{
	display: flex;
	justify-content: center;
	margin: 60px auto;
	height: 100%;
}

#bouton{
	width: 30%;
	padding: 15px;
	color: #FFFAE1;
	text-decoration: none;
}

#bouton1{
	width: 30%;
	border-left: solid 5px aquamarine;
	border-right: solid 5px aquamarine;
	padding: 15px;
}

#bouton2{
	width: 30%;
	padding: 15px;
}

footer ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

footer li{
	list-style-type: none;
}

/*////////////////////////////main_contact/////////////////////*/
.contact
{
	text-align: center;
	padding: 2%;
	background-color: rgb(255, 123, 0);
	width: 30%;
	height: 75%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border-radius: 4px;
	box-shadow: 0 5px 5px black;
	margin: 15%;
	font-size: 30px;	
}

.center
{
	width: 700px;
	height: 600px;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.25);
}

.center h1
{
	font-size: 40px;
	text-align: center;
	padding: 0 0 20px 0;
	font-weight: 700;
	border-bottom: 1px solid silver;
}

.center form{
	padding: 0 40px;
	box-sizing: border-box;
}
form .txt_field{
	position: relative;
	border-bottom: 2px solid #adadad;
	margin: 50px 0;
}
.txt_field input
{
	width: 100%;
	padding: 0 5px;
	height: 40px;
	font-size: 16px;
	border-radius: 0px;
	background: none;
}
.txt_field label
{
	position: absolute;
	top: 50%;
	left: 5px;
	color: #adadad;
	transform: translateY(-50%);
	font-size: 16px;
	pointer-events: none;
	transition: 0.5s;
}
.txt_field span::before
{
	content: '';
	position: absolute;
	left: 0;
	width: 0%;
	height: 3px;
	background: #2692d9;
	transition: 0.5s;
}
.txt_field input:focus ~ label, .txt_field input:valid ~ label, .txt_field textarea:focus ~ label, .txt_field textarea:valid ~ label
{
	top: -5px;
	color: #2691d9;
}
.txt_field input:focus ~ span::before, .txt_field input:valid ~ span::before, .txt_field textarea:focus ~ span::before, .txt_field textarea:valid ~ span::before
{
	width: 100%;
}
input[type="submit"]
{
	font-size: 18px;
	width: 90%;
	height: 50px;
	border: 1px solid;
	background: #2691d9;
	border-radius: 25px;
	font-variant-position: 18px;
	color: #e9f4fb;
	font-weight: 700;
	cursor: pointer;
	outline: none;
	transition: 0.5s;
}
input[type="submit"]:hover
{
	border-color: #2691d9;
	background-color: #6b4c84;
	transition: 0.5s;
}
.txt_field input[type="text"], .txt_field textarea
{
	border: none;
	resize: none;
}
.txt_field input[type="text"]:focus, .txt_field textarea:focus
{
	outline: none;
}
.long_text
{
	width: 100%;
	height: 100%;
	font-family: "Lato", sans-serif;
	
}
.long_text:focus
{
	border: none;
	outline: none;
}

/*////////////////////////////main_admin_produits/////////////////////*/
#form1 {
    display: none;
  }
.class
{
	height: auto;
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
	border-bottom: 2px solid white;
}
.nom_produit, .prix, .stock, .suppr, .image
{
	height: auto;
	width: 100%;
  	display: flex;
  	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}
.nom_produit form, .prix form, .stock form, .suppr form, .image form
{
	height: auto;
	width: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.nom_produit input[type="text"], .prix input[type="text"], .stock input[type="text"], .suppr input[type="text"], .image input[type="text"]
{
	margin-left: 50px;
	margin-right: 50px;
	text-align: center;
	height: 30px;
	width: 125px;
	border: 1px solid aliceblue;
	border-radius: 5px;
}
.nom_produit input[type="text"]:focus, .prix input[type="text"]:focus, .stock input[type="text"]:focus, .suppr input[type="text"]:focus, .image input[type="text"]:focus
{
	border: none;
	outline: none;
}
.nom_produit input[type="submit"], .prix input[type="submit"], .stock input[type="submit"], .suppr input[type="submit"], .image input[type="submit"]
{
	height: 40px;
	width: 125px;
	font-size: 15px;
}
.bottom
{
	height: auto;
	width: 80%;
	margin-bottom: 50px;
}
.bottom_tresor
{
	width: 100%;
}
.bottom input[type="text"]
{
	text-align: center;
	height: 30px;
	width: 125px;
	border: 1px solid aliceblue;
	border-radius: 5px;
	margin: 25px;
	height: 50px;
	width: 200px;
}
.bottom input[type="text"]:focus
{
	border:none;
	outline: none;
}
.main
{
	height: auto;
	width: 75%;
	border-radius: 5px;
	margin-top: 100px;
	background-color: rgba(255, 255, 255, 0.781);
	
}

.main_content
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.main_page
{
	height: auto;
	width: 75%;
	border-radius: 5px;
	margin-top: 100px;
	background-color: rgba(255, 255, 255, 0.781);
	margin: 200px;
	padding: 50px;
}
.message
{
	height: 25%;
	width: 75%;
	background-color: white;
	border-radius: 5px;
	margin: 50px;
	padding: 25px;
}
.ban
{
	height: auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid floralwhite;
	margin: 20px;
}
.ban form
{
	width: 100%;
	height: auto;
}
.ban input
{
	margin-top: 25px;
	width: 30%;
	margin: 30px;
}
.ban form
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

/*////////////////////////////main_panier/////////////////////*/

.head, .head_bas
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 75%;
	height: 10%;
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 3px;
	border-bottom: 1px solid black;
}
.head_bas
{
	margin-bottom: 50px;
	font-weight: bold;
}
.panier_head
{
	width: 95%;
	font-size: 20px;
}
.panier
{
	font-size: 20px;
	width: 1000px;
	height: auto;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.25);
	margin : 50px;
	
}
.exemple
{
	display: flex;
	justify-content: center;
	align-items: center;
}
.name
{
	width: 40%;
	background-color: lightgrey;
	border-top-left-radius: 5px;
	font-weight: bold;
}
.box_ex, .box_ex_end
{
	width: 20%;
	background-color: lightgrey;
	font-weight: bold;
}
.box_ex_end
{
	border-top-right-radius: 5px;
}
.box_commande, .total
{
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid aqua;
	height: 100px;
}
.name_content
{
	width: 40%;
}
.box, .box_suppr, .box_final
{
	width: 20%;
}
.box, .box_final, .box_prix
{
	display: flex;
	justify-content: center;
	align-items: center;
	border-right: 1px solid aqua;
	border-left: 1px solid aqua;
	height: 100%;
}
.box_prix
{
	width: 60.1%;
}
.panier input
{
	width: 60%;
	height: 30px;
	font-size: 13px;
	text-align: center;
}
.valide_commande
{
	width: 50%;
	height: 15%;
}
.valide_commande input
{
	box-shadow: 0 10px 20px rgba(0,0,0,0.75);
	border: 1px solid darkturquoise;
}
.validation
{
	width: 75%;
	height: auto;
	background-color: white;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 0 10px 20px rgba(0,0,0,0.25);
}




/*////////////////////////////main_produit/////////////////////*/

.choix{
	position: relative;
	top: 98px;
}

.choix1{
	position: relative;
	top: 70px;
}

.bloc1{
	background-color: rgba(255,255,255,0.5);
	width: 100%;
	height: 100%;
	overflow:auto; 
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.bloc2{
	overflow: visible;
  	width: 50%; 
    background: gray; 
	margin: 10%;
	padding: 10%;
	border-radius:4%;
}



